@model WebApplication1.Models.Employee

@{
    ViewData["Title"] = "Create Employee";
}

<h2>Create New Employee Details</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="CardId"></label>
        <input asp-for="CardId" class="form-control" type="number" />
        <span asp-validation-for="CardId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EmployeeId"></label>
        <input asp-for="EmployeeId" class="form-control" type="number" />
        <span asp-validation-for="EmployeeId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" type="text"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Surname"></label>
        <input asp-for="Surname" class="form-control" type="text" />
        <span asp-validation-for="Surname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender"></label>
        <select asp-for="Gender" class="form-control">
            <option value="ชาย">ชาย</option>
            <option value="หญิง">หญิง</option>
            <option value="ไม่ระบุ">ไม่ระบุ</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dateofbirth"></label>
        <input asp-for="Dateofbirth" class="form-control" type="date" />
        <span asp-validation-for="Dateofbirth" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
